.FutureWeather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px 10px;

    color: rgba(255, 255, 255, 0.9);
    font-family: Arial;
    font-size: 28px;
    
    width: 30%;
    height: 100%;

    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}